<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Libros</title>
</head>
<body>
    <h1>Lista de Libros</h1>
    <a href="{% url 'crear_libro' %}">Crear Nuevo Libro</a>
    <ul>
        {% for libro in libros %}
            <li>
                {{ libro.titulo }} - {{ libro.autor }} - 
                <a href="{% url 'actualizar_libro' libro.pk %}">Actualizar</a> - 
                <a href="{% url 'eliminar_libro' libro.pk %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
